/* master style*/

body {
    margin: 0px;
    background-color: darkseagreen;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav Bar Style */

.nav-wrapper {
    display:flex;
    justify-content: space-between;
    padding: 38px;
    background-color: cornsilk;
}

.left-side {
    display: flex;

}

.nav-wrapper > .left-side  > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;

    
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}


.nav-link-wrapper a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    transition: color 0.5s;    
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

/*images styles */

.capstone-image-wrapper img {
    width: 200%;
    height: auto;
    size: cover;
    position: center;
    padding-left: 50px;
}

.calendar-content-wrapper {
    padding-left: 150px;
}
/* growers styles */

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.booth-image-wrapper img {
    width: 90%;
    height: 500px;
    size: cover;
    position: center;
    
}

l.booth-content-wrapper {
    padding: 30px;
}


